@inherits LayoutComponentBase

<div class="designer-layout">
    <header class="designer-header">
        <div class="header-left">
            <a href="/" class="brand">
                <img src="images/logo-icon.svg" alt="" class="brand-icon"/>
                <span>FlowForge</span>
            </a>
        </div>
        <div class="header-toolbar">
            @_toolbarContent
        </div>
        <div class="header-right">
            <UserMenu/>
        </div>
    </header>

    <CascadingValue Value="this" IsFixed="true">
        <main class="designer-main">
            @Body
        </main>
    </CascadingValue>
</div>
