@inherits LayoutComponentBase
<div class="page">
    <header class="top-bar">
        <a href="/" class="top-bar-brand">
            <img src="images/logo-icon.svg" alt="" class="top-bar-logo"/>
            <span>FlowForge</span>
        </a>
        <UserMenu/>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
