@namespace Vyshyvanka.Designer.Components
@* Container for displaying toast notifications *@

<div class="toast-container">
    @foreach (var toast in ToastService.Toasts)
    {
        <Toast
            @key="toast.Id"
            Type="@toast.Type"
            Title="@toast.Title"
            Message="@toast.Message"
            DismissTimeout="@toast.DismissTimeout"
            OnDismiss="() => HandleDismiss(toast.Id)"/>
    }
</div>