@namespace FlowForge.Designer.Components

<div class="node-editor-panel input-panel">
    <div class="panel-header">
        <span class="panel-title">Input</span>
    </div>
    
    <div class="panel-content">
        @if (HasInputData)
        {
            <pre class="json-viewer">@FormattedJson</pre>
        }
        else
        {
            <div class="placeholder">
                <span class="placeholder-icon">📥</span>
                <span class="placeholder-text">No input data available</span>
                <span class="placeholder-hint">Execute the workflow to see input data</span>
            </div>
        }
    </div>
</div>
