@* Container for displaying toast notifications *@
@using FlowForge.Designer.Models
@using FlowForge.Designer.Services
@inject ToastService ToastService
@implements IDisposable

<div class="toast-container">
    @foreach (var toast in ToastService.Toasts)
    {
        <Toast
            @key="toast.Id"
            Type="@toast.Type"
            Title="@toast.Title"
            Message="@toast.Message"
            DismissTimeout="@toast.DismissTimeout"
            OnDismiss="() => HandleDismiss(toast.Id)"/>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        ToastService.OnChange += StateHasChanged;
    }

    private void HandleDismiss(string id)
    {
        ToastService.Remove(id);
    }

    public void Dispose()
    {
        ToastService.OnChange -= StateHasChanged;
    }

}
