@namespace Vyshyvanka.Designer.Components

<div class="property-editor boolean-editor">
    <div class="toggle-row">
        <label class="toggle-switch">
            <input type="checkbox"
                   checked="@IsChecked"
                   @onchange="OnToggle" />
            <span class="toggle-slider"></span>
        </label>
        
        <span class="property-label">
            @Property.DisplayName
            @if (Property.IsRequired)
            {
                <span class="required-indicator">*</span>
            }
        </span>
    </div>
    
    @if (!string.IsNullOrEmpty(Property.Description))
    {
        <div class="property-description">@Property.Description</div>
    }
</div>
