@namespace Vyshyvanka.Designer.Components

<div class="property-editor code-editor">
    <label class="property-label">
        @Property.DisplayName
        @if (Property.IsRequired)
        {
            <span class="required-indicator">*</span>
        }
        <span class="type-badge">@LanguageBadge</span>
    </label>

    <div class="code-editor-toolbar">
        <button class="toolbar-button" @onclick="FormatCodeAsync" title="Format code (auto-indent)">
            <i class="fa-solid fa-align-left"></i>
            Format
        </button>
    </div>

    <div class="code-editor-container @(ShowValidationError ? "has-error" : "")"
         @ref="_editorContainer">
    </div>

    @if (!string.IsNullOrEmpty(Property.Description))
    {
        <div class="property-description">@Property.Description</div>
    }

    @if (ShowValidationError)
    {
        <div class="validation-error">This field is required</div>
    }
</div>
